$font: "Inter", sans-serif; 

$accent: #D40000;
$lightgrey: #F3F2F0;
$dark: #232326;
$light: #FFFFFF;

$tr: .3s;


$r_desk_full: 1500px;
$r_desk_400: 1400px;
$r_desk_1190: 1190px;
$r_desk: 1024px;
$r_desk_min: 920px;
$r_tab: 768px; 
$r_mobile_600: 600px;
$r_mobile_500: 500px;
$r_mobile_400: 400px;
$r_mobile_360: 360px;