@import 'font';
@import 'var';

* {
    padding: 0;
    margin: 0;
}


body {
    font-family: $font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $lightgrey;
    
}

.container-wrapper {
    background-color: $dark;
}

.container-wrapper._dark {
    // background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
    background-color: $dark;
    
    
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}



a {
    transform: $tr;
    text-decoration: none;
    color: $lightgrey;
}

a:hover {
    color: $accent;
}

p, h1, h2, h3 {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px 0;
    @media(max-width:$r_tab) {
        display: block;
        padding:20px 0 40px 0;
    }
}

.nav {
    display: flex;
    gap: 28px;
    @media(max-width:$r_desk_min) {
        gap: 14px;
    }
    &__link {
        font-size:clamp(10px, 5vw - 0.75rem, 14px);
        transition: $tr;
    }
    
    
}

.nav-header {
    @media(max-width:$r_tab) {
        display: none;
    }
}

.nav-footer {
    @media(max-width:$r_tab) {
        order:1;
    }
}

// .nav-footer > a {
//     font-size:clamp(10px, 5vw - 0.75rem, 14px);
    
// }

.burger {
    display: none;
    &__menu {
        background-image: url(../images/ui/burger.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 26px;
        height: 20px;
        background-color: transparent;
        border: none;
    }

    @media(max-width:$r_tab) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.contacts._header {

    @media(max-width:$r_tab) {
        display: none;
    }
}

.contacts {
    display: flex;
    gap: 26px;


    &__link {
        position: relative;
        transition: $tr;
    }

    &__link:not(:last-child)::after {
        content:'';
        display: block;
        width: 2px;
        height: 24px;
        background-image: url(../images/ui/line.svg);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top:-2px;
        right: -13px;

    }
}

.contacts._modal {
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.banner {
    margin-top: 20px;
    margin-bottom: 114px;
    &__img {
        width: 100%;
        @media(max-width:$r_mobile_400) {
            //width:340px;
            min-height:215px;
            object-fit: cover;
        }
    }
    @media(max-width:$r_tab) {
        margin-bottom: 60px;
        
    }
    @media(max-width:$r_mobile_400) {
        margin-top: 0;
    }
   
    
}

.h3-title {
    //font-size: 28px;
    font-size: clamp(18px, 2vw + 0.25rem, 28px);
    font-weight: 400;
}

.h2-title {
    //font-size: 28px;
    font-size:clamp(16px, 5vw - 0.75rem, 28px);
    font-weight: 600;
    text-transform: uppercase;
    
}

.h1-title {
    //font-size: 74px;
    font-size:clamp(27px, 4vw + 0.25rem, 74px);
    
    font-weight: 600;
    text-transform: uppercase;
}

.nav._modal{
    display: flex;
    flex-direction: column;
    gap:0;
    .nav-link {
        border-top: 1px solid rgba($lightgrey, .2);
        padding: 20px 116px;
        font-size: 26px;
        transition: $tr;
    }
    .nav-link:nth-last-child(1) {
        border-bottom: 1px solid rgba($lightgrey, .2);
        
    }
}

.modalMenu {
    display: block;
    background-color: $dark;
    padding: 80px 10px 40px 10px;
    position: absolute;
    //top: -800px;
    left:0;
    right:0;
    margin: 0 auto;
    text-align: center;;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    transform: $tr;

}

.modal {
    display: block;
    background-color: $dark;
    padding: 55px 20px 0 20px;
    position: absolute;
    top: 8000px;
    left:0;
    right:0;
    margin: 0 auto;
    text-align: center;;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    transform: $tr;

    &__title {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &__desc {
        font-size: 16px;
        padding-bottom: 30px;
        border-bottom: 1px solid $lightgrey;
    }

}



.modal-close {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/ui/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border:none; 
    position: absolute;
    top: 20px;
    right: 20px;
}

.discuss-project {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-bottom: 11px;
        border-bottom: 2px solid $dark;
        width: fit-content;
        z-index: 2;
        &__write {
            //font-size: 16px;
            font-size: clamp(12px, 5vw - 0.75rem, 16px);
            font-weight: 600;
            transition: $tr;
        }
        @media (hover: hover) {
            &:hover {
                border-bottom: 2px solid $lightgrey;
                color: $lightgrey;
            }
        
        }

    }
.discuss-project.dark {
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
    @media (hover: hover) {
        &:hover {
            border-bottom: 2px solid $lightgrey;
            color: $lightgrey;
            
        }
    
    }
}

    

.discuss {
    display: flex;
    flex-direction: column;
    margin-bottom: 160px;

    @media(max-width:$r_tab) {
        margin-bottom: 80px;
    }

    
    &__name {
        position: relative;
        z-index: 1;
    }

    &__name::before {
        content: '';
        display: block;
        width:253px;
        height:253px;
        //background-image: url(../images/ellipse.png);
        background-color: #D40000;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
        position: absolute;
        left: -124px;
        //top:-61px;
        top: -19%;
        z-index: -2;
        @media(max-width:$r_tab) {
            width:135px;
            height:135px;
            top:-10%;
            left: -5%;
        }
        @media(max-width:$r_mobile_500) {
        
            left: -15%;
        }
        
    }

    &__name::after {
        content: '';
        display: block;
        width:76px;
        height:95px;
        background-image: url(../images/polygon.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: -155px;
        //top:-31px;
        top: calc(40% - 121px);
        z-index: -1;
        @media(max-width:$r_desk_400) {
            left:0;
            top:60%;
        }
        @media(max-width:$r_desk) {
            width:33px;
            height:41px;
        }
        @media(max-width:$r_tab) {
            left:4%;
            
        }
    }

    &__surname {
        
        margin-bottom: 20px;
    }

    &__spec {    
        margin-bottom: 90px; 
        letter-spacing: 3px;  
    }

   
    &__social {
        display: flex;
        justify-content: space-between;
        margin-bottom: 47px;
        @media(max-width:$r_tab) {
            margin-bottom: 40px;
        }
    }

  

    &__contacts {
        display: flex;
        gap:48px;
        position: relative;
        z-index: 1;
        @media(max-width:$r_tab) {
            gap: 20px;
        }
        
    }
    &__contacts {
        justify-content: center;
    }

    &__contacts._modal::before {
        display: none;
    }

    

    &__contacts-item {
        position: relative;
        //font-size: 16px;
        font-size: clamp(12px, 5vw - 0.75rem, 16px);
        z-index: 1;
        transition: $tr;
    }

    &__contacts-item._modal {
        font-size: 12px;
        
    }

    &__contacts-item:not(:last-child)::after {
        content:'';
        display: block;
        width: 2px;
        height: 24px;
        background-image: url(../images/ui/line.svg);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top:-2px;
        right: -24px;
        @media(max-width:$r_tab) {
            right: -12px;
        }

    } 
    

    &__contacts::before {
        content: '';
        display: block;
        width:106px;
        height:106px;
        //background-image: url(../images/ellipse.png);
        background-color: #D40000;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
        position: absolute;
        right: calc(38% - 53px);
        top:calc(37% - 53px);
        z-index: -1;
        @media(max-width:$r_tab) {
            width:60px;
            height:60px;
            right: 40%;
            top: -65%;
        }
    }

    &__type {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 15px;
        padding-top: 60px;
        border-top: 1px solid $lightgrey;
        @media(max-width:$r_tab) {
            grid-template-columns: repeat(2, 1fr);
            gap:30px;
        }
    }


    &__type-name {
        //font-size: 16px;
        font-size:clamp(12px, 5vw - 0.75rem, 16px);
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__type-desc {
        //font-size: 14px;
        font-size:clamp(10px, 5vw - 0.75rem, 14px);
        color: rgba($lightgrey, .8);
        max-width: 238px;
        @media(max-width:$r_desk) {
            max-width: 150px;
        }
    }
}

.about {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding-bottom: 60px;
    border-bottom: 1px solid $lightgrey;
    @media(max-width:$r_tab) {
        flex-direction: column;
        gap:20px;
        padding-bottom: 40px;
    }
    &__desc {
        //font-size: 28px;
        font-size:clamp(16px, 5vw - 0.75rem, 28px);
        color: rgba($lightgrey, .8);
        flex-basis: 49%;
        
    }
}

.features {
    display: flex;
    padding-top: 60px;
    padding-bottom: 180px;
    @media(max-width:$r_tab) {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    &__empty {
        flex-basis: 60%;
        @media(max-width:$r_tab) {
            flex-basis: 0;
            
        }
    }

    &__blok {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 39px;
        row-gap: 60px;
        flex-basis: 57%;
        @media(max-width:$r_tab) {
            column-gap:25px;
            row-gap: 30px;
            flex-basis: 100%;
        }
    }

    &__title {
        //font-size: 16px;
        font-size: clamp(12px, 5vw - 0.75rem, 16px);
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__desc {
        //font-size: 14px;
        font-size:clamp(10px, 5vw - 0.75rem, 14px);
        color: rgba($lightgrey, .8);
    }
}

.steps {
    display: flex;
    flex-direction: column;
    margin-bottom: 167px;
    @media(max-width:$r_tab) {
        margin-bottom: 80px;
    }
    &__item {
        display: flex;
        border-top: 1px solid $lightgrey;
        padding: 30px 0;
        gap:20px;
        @media(max-width:$r_desk) {
            padding: 15px 0 20px 0;
        }
    }
    &__item:nth-last-child(1) {
        
        border-bottom: 1px solid $lightgrey;
    }

    &__h3 {
        font-size: clamp(16px, 5vw - 0.5rem, 28px);
        height: fit-content;
        
    }

    &__title {
        display: flex;
        gap:39px;
        flex-basis: 51%;
        @media(max-width:$r_desk) {
            gap:10px;
            flex-basis: 50%;
            
            
        }
        @media(max-width:$r_tab) {
            display: none;
            
        }
        
    }
    &__title._mobile {
        display: none;
        @media(max-width:$r_tab) {
            display: block;
            
        }
    }

    &__descblok {
        
        flex-basis: 50%;
    }

    &__desc {
        //font-size: 16px;
        font-size: clamp(12px, 5vw - 0.75rem, 16px);
        font-weight: 400;
        color: rgba($lightgrey, .8);
        padding-top:7px;
        @media(max-width:$r_desk) {
            padding-top:0;
        }
        
        
    }
}

.portfolio-name {
    padding-bottom: 126px;
    position: relative;
    z-index: 2;
    @media(max-width:$r_tab) {
        padding-bottom: 70px;
    }
    &::after {
        content: '';
        display: block;
        width:465px;
        height:323px;
        background-image: url(../images/ellipse-top.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 30%;
        bottom: 0;
        z-index: -1;
        @media(max-width:$r_tab) {
            width:197px;
            height:323px;
            bottom: -185px;
        }
        
    }
}

.portfolio {
    
    &__item {
        padding-top: 61px;
        display: grid;
        grid-template-columns: 580px 560px;
        
        padding-bottom: 58px;
        border-bottom: 1px solid $lightgrey;
        z-index: 1;
        position: relative;
        @media(max-width:$r_desk_1190) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width:$r_tab) {
            grid-template-columns: 1fr;
            padding-top: 0;
        }

        @media(max-width:$r_tab) {
            padding-bottom: 40px;
        }
        &:nth-child(1)::after {
            content: '';
            display: block;
            width:465px;
            height:142px;
            background-image: url(../images/ellipse-bottom.png);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 31.5%;
            top: 0;
            z-index: -1;
            @media(max-width:$r_tab) {
                width:179px;
                height:142px;
                top: -2px;
                
            }
            @media(max-width:$r_mobile_500) {
                
                left: 32.5%;
            }
            
        }
        
        
    }
    &__text {
        padding-top:42px;
        @media(max-width:$r_desk_1190) {
            margin-bottom: 40px;
        }
    }
    &__title {
        //font-size: 28px;
        font-size:clamp(16px, 5vw - 0.75rem, 28px);
        font-weight: 600;
    }

    &__task {
        list-style: none;
        padding:0;
        margin:0;
        margin-top: 43px;
    }
    &__task > li {
        //font-size: 16px;
        font-size: clamp(12px, 5vw - 0.75rem, 16px);
        margin-bottom: 10px;
    }
    &__time {
        //font-size: 16px;
        font-size: clamp(12px, 5vw - 0.75rem, 16px);
        font-weight: 600;
        margin-top:40px;
    }

    &__img {
        
        width: clamp(340px, 28vw, 560px);
    }
}

.other-task {
    padding-top: 180px;
    padding-bottom: 74px;
    border-bottom: 1px solid $lightgrey;
    @media(max-width:$r_tab) {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    &__text {
        //font-size: 28px;
        font-size:clamp(16px, 5vw - 0.75rem, 28px);
        max-width: 870px;
    }
}

.features-image {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    //grid-template-columns: 294px 307px 318px;
    row-gap: 73px;
    column-gap: 13px;

    @media(max-width:$r_desk_1190) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width:$r_tab) {
        grid-template-columns: 1fr;
        padding-top: 40px;
        gap:30px;
    }

    &__item {
        display: flex;
        gap:40px;
        align-items: center;
        & > img {
            width: 40px;
            height: 40px;
            @media(max-width:$r_tab) {
                width: 30px;
                height: 30px;
            }
        }
    }

    &__title {
        //font-size: 16px;
        font-size: clamp(12px, 5vw - 0.75rem, 16px);
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__desc {
        //font-size: 14px;
        font-size:clamp(12px, 4vw - 1rem, 14px);
        color: rgba($lightgrey, .8);
        max-width: 238px;
    }
}

.technologies {
    margin-top: 180px;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-top: 1px solid $lightgrey;
    border-left: 1px solid $lightgrey;

    @media(max-width:$r_tab) {
        margin-top: 60px;
    }

    &__item {
        //padding: 33px 105px;
        display: flex;
        justify-content: center;
        padding: 29px 89px;
        border-bottom: 1px solid $lightgrey;
        border-right: 1px solid $lightgrey;
        @media(max-width:$r_desk_full) {
            padding: 10px 0;
        }
        
    }

    &__item img{
        width: 105px;
        height: 84px;
        // background-color: rgb(0, 0, 0);
        // mix-blend-mode: multiply;
        filter: grayscale(100%);
        transition: $tr;
        @media(max-width:$r_tab) {
            width: 31px;
            height: 24px;
        }
        
        @media (hover: hover) {
            &:hover {
                
                filter: none;
            }
        
        }
        
    }

    
}

.tarif {
    padding-top: 185px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding-bottom: 80px;
    @media(max-width:$r_tab) {
        padding-top: 80px;
        padding-bottom: 30px;
        flex-direction: column;
        gap:20px;
    }
    
    &__desc {
        //font-size: 28px;
        font-size:clamp(16px, 5vw - 0.75rem, 28px);
        color: rgba($lightgrey, .8);
        flex-basis: 49%;
        z-index: 2;
    }

    &__name {
        z-index: 1;
        position: relative;
    }
    &__name::before {
        content: '';
        display: block;
        width:140px;
        height:140px;
        //background-image: url(../images/ellipse.png);
        background-color: #D40000;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: -72px;
        top:calc(50% - 70px);
        z-index: -1;
    }
}

.price {
    &__item{
        padding-top: 60px;
        padding-bottom: 59px;
        border-top: 1px solid $lightgrey;;
        display: flex;
        //gap:198px;
        @media(max-width:$r_tab) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &:nth-child(even) {
            .price__price::before {
                display: none;
            }
        }
    }

    &__left {
        //max-width: 378px;
        flex-basis: 51%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__right {
        flex-basis: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 20px;
        //font-size: 28px;
        font-size:clamp(16px, 5vw - 0.75rem, 28px);
        @media(max-width:$r_tab) {
            max-width: 250px;
        }
        @media(max-width:$r_mobile_500) {
            max-width: 136px;
        }
        
    }

    &__desc {
        //font-size: 16px;
        font-size: clamp(10px, 5vw - 1rem, 16px);
        color: rgba($lightgrey, .8);
        //margin-bottom: 75px;
        @media(max-width:$r_tab) {
            max-width: 200px;
        }
        @media(max-width:$r_mobile_500) {
            max-width: 110px;
            margin-bottom: 60px;
        }
    }

    &__include {
        margin-bottom: 21px;
    }

    &__includetext {
        //font-size: 16px;
        font-size: clamp(12px, 5vw - 0.75rem, 16px);
        font-weight: 600;
    }

    &__ul {
        padding:0;
        padding: 9px 19px;
    }

    &__ul > li {
        
        //font-size: 16px;
        font-size: clamp(12px, 5vw - 0.75rem, 16px);
        font-weight: 400;
        color: rgba($lightgrey, .8);
        margin-bottom: 10px;
    }

    &__price {
        //font-size: 42px;
        font-size: clamp(22px, 3vw + 0.75rem, 42px);
        font-weight: 600;
        position: relative;
        z-index: 2;
        &::before {
            content: '';
            display: block;
            width:90px;
            height:90px;
            //background-image: url(../images/ellipse.png);
            background-color: #D40000;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50%;
            position: absolute;
            left: -8%;
            //top:-61px;
            top: -30%;
            z-index: -1;
            @media(max-width:$r_tab) {
                width:40px;
                height:40px;
                top: 7%;
                
            }
        }
    }
}

.talk {
    padding-top: 124px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding-bottom: 60px;
    //border-bottom: 1px solid $lightgrey;
    position: relative;
    @media(max-width:$r_tab) {
        padding-top: 80px;
        padding-bottom: 30px;
        flex-direction: column;
        gap:20px;
    }
    
    &__desc {
        //font-size: 28px;
        font-size:clamp(16px, 5vw - 0.75rem, 28px);
        color: rgba($lightgrey, .8);
        flex-basis: 49%;
    }

    &__name {
        max-width: 286px;
        z-index: 1;
        position: relative;
    }

    &::after {
        content: '';
        display: block;
        width:100%;
        height:2px;
        background-image: url(../images/ui/linetalk.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        bottom:0;
        z-index: 2;
    }
    &__name::before {
        content: '';
        display: block;
        width:300px;
        height:300px;
        //background-image: url(../images/ellipse.png);
        background-color: #D40000;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: -154px;
        top:-28px;
        z-index: -2;
        @media(max-width:$r_tab) {
            width:190px;
            height:190px;
            left: -50px;
            top:-56px;
        }
    }

    &__name::after {
        content: '';
        display: block;
        width:73px;
        height:91px;
        background-image: url(../images/polygon.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: -180px;
        //top:-31px;
        top: 20px;
        z-index: -1;
        @media(max-width:$r_tab) {
            width:31px;
            height:40px;
            left: 84px;
            top:-56px;
        }
    }
}

.form {
    padding-top: 60px;
    padding-bottom: 130px;
    border-bottom: 1px solid $lightgrey;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    @media(max-width:$r_tab) {
        padding-top: 40px;
        padding-bottom: 60px;
        grid-template-columns: 1fr;
        gap:62px;
    }

    &__contacts {
        display: flex;
        gap:48px;
        position: relative;
        z-index: 1;
        align-self: flex-end;
        @media(max-width:$r_tab) {
            order: 1;
        }
       
        
    }

    &__contacts-item {
        position: relative;
        //font-size: 16px;
        font-size: clamp(12px, 5vw - 0.75rem, 16px);
        z-index: 1;
    }

    &__contacts-item:not(:last-child)::after {
        content:'';
        display: block;
        width: 2px;
        height: 24px;
        background-image: url(../images/ui/line.svg);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top:-2px;
        right: 0;
        right: -24px;

    } 

    &__blok._modal {
        padding-top: 40px;
        padding-bottom: 40px;
        
    }

    &__form > label {
        display: block;
        margin-bottom: 10px;
        //font-size: 12px;\
        text-align: left;
        font-size:clamp(10px, 3vw - 0.5rem, 12px);
        color: rgba($lightgrey, .8);
    }

    &__input {
        background-color: rgba($lightgrey, .1);
        border: none;
        padding: 24px 20px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
        &:focus {
            color: $lightgrey;
        }
    }

    &__select {
        background: rgba($lightgrey, .1);
        color:$lightgrey;
        border: none;
        outline: none;
        padding: 24px 20px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 28px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-image: url(../images/ui/arrow-down.png);
        background-repeat: no-repeat;
        background-position: right 1.7em top 50%, 0 0;
        background-size: 0.8em auto;
        //pointer-events: none;
        
        &:hover {
            cursor: pointer;
            
        }
    }

    &__option {
        color: rgba($lightgrey, .7);
        //background: rgba($lightgrey, .2);
        background: #38383A;
        border: 0;
        font-size: 12px;
        //padding: 18px 20px;
        margin-bottom: 30px;
        
        &:hover {
            color: #D40000;
            background: none;
        }
    }

    &__option selected {
        display: none;
    }

    &__btn {
        background-color: $accent;
        color: $lightgrey;
        //font-size: 16px;
        font-size: clamp(12px, 5vw - 0.75rem, 16px);
        font-weight: 700;
        border:0;
        padding: 24px;
        width: 100%;
        margin-top: 15px;
        transition: $tr;
        @media (hover: hover) {
            &:hover {
                cursor: pointer;
                background-color: #EA0E00;
            }
        
        }
      
    }
}

.footer {

    padding-top:60px;
    padding-bottom: 0;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width:$r_tab) {
            flex-direction: column;
            gap:30px;
        }
    }
    
    &__copy {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:40px 0;
        @media(max-width:$r_tab) {
            flex-direction: column;
            gap:15px;
        }
    }

    &__copy-item {
        font-size: 12px;
        color: rgba($lightgrey, .3);
    }

    &__link {
        color: rgba($lightgrey, .3);
        border-bottom: 1px solid #626263;
        @media (hover: hover) {
            &:hover {
                color: $lightgrey;
                border-bottom: 1px solid $lightgrey;
            }
        
        }
    }
}




